.top-stories{
    display: flex;
    /* justify-content: space-between; */
}
.image{
    margin: 5px;
}
.cover{
    width: 40%;
}
.top-list{
    width: 40%;
}
.quick-bit{
    width:20%;
    padding: 10px;
    line-height: 25px;
}
.quick-bit-content{
    background-color: rgb(243, 243, 243);
    padding: 5px;
}
image img{
    width: 500px;
    height:350px;
}
.title{
    position: relative;
    background: #FFFFFF;
    width: 85%;
    padding: 5px;
    margin-left: 20px;
    font-family:Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-top: -20px;

}
.Clues_from_a_propage{
    margin: 5px;
}
.sign-up p{

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 15px;
color: #0876FF;
}
.sign-up input{
 border: none;
border-bottom: 2px solid #0C79FF;

}
.sign-up button{
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #0C79FF;

}