.maintext{
    /* The News */
font-family: Bitter;
font-style: normal;
font-weight: bold;
font-size: 36px;
/* identical to box height */
letter-spacing: -0.04em;
}

.row{
    display: flex;
    justify-content: space-between;
}

