.footer{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    display: flex;
    align-items: flex-end;
    color: #7A7A7A;
}
.footer ul{
    list-style: none;
    display: flex;
    color:  #7A7A7A;
}
.footer li{
    padding: 0px 5px;
}
.footer li a{
    text-decoration: none;
    color:#7A7A7A;
}
.footer .c-list{
    font-size: 14;
    padding-right: 10px;
    font-weight: bold;
}
.footer .c{
    border-right: 1px solid #7A7A7A;
}