  body{
    padding: 1rem;
  }  
.header p {
  background-color: yelloW;
  margin-right: 10px;
  justify-content: start;
  margin: auto;
  font-size: 18px;
  padding: 2px;
}
.list{
  border-bottom: 1px solid lightgray;
  margin-left: 5px;
}
.headline{
  margin-top: -10px;
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
}
.content{
  margin-top: -18px;
}